* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --base-green: #E4FAC3;
    --first-green: #C0E18E;
    --second-green: #C0E18E;
    --third-green: #C0E18E;
    --last-green: #70b607;
    --black: rgb(0, 0, 0);
    --text-white: white;
    --pink: deeppink;
    --orange: orange;
    --purple: purple;
    --blue: blue;
    --yellow: yellow;
    --red: red;
    --green: green;
}

body {
    background-color: white;
    display: grid;
    place-content: center;
    align-items: center;
    width: 100%;
}

header {
    place-self: center;
    height: 3em;
}

header h1 {
    animation-name: color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes color {
    0% {
        color: #52006A;
        font-family: 'Courier New', Courier, monospace;

    }

    25% {
        color: #CD113B;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    50% {
        color: #FF7600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    75% {
        color: #FFA900;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    100% {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

main {
    height: 100vh;
    height: 100dvh;
    scroll-snap-type: x mandatory;
    place-self: center;
    display: flex;
    overflow-x: auto;
    gap: 2em;
    width: 95%;
}

section {
    display: grid;
    place-content: center;
    scroll-snap-align: center;
    block-size: 90vmin;
    aspect-ratio: 1;
    background-color: var(--black);
    border: solid var(--last-green) 2px;
    position: relative;
    box-shadow: 4px 4px 10px var(--last-green);

}

section:nth-of-type(1) form {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

section:nth-of-type(1) label {
    color: white;
}

section:nth-of-type(1):has(#background:checked) {
    background-image: linear-gradient(var(--last-green),
            var(--base-green));
}

section:nth-of-type(1):has(#background:checked) label {
    color: black;
}

section:nth-of-type(1)>div {
    position: relative;
    width: 4em;
    aspect-ratio: 1;

    background-color: green;

    animation-name: omhoog;
    animation-duration: 2s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

@keyframes omhoog {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-200%);
    }
}

section:nth-of-type(1) div div {
    position: absolute;
    inset: 0;

    background-color: red;
}

section:nth-of-type(1) div div:nth-of-type(1) {
    animation-name: links;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-play-state: running;
    animation-iteration-count: infinite;

}

section:nth-of-type(1) div div:nth-of-type(2) {
    animation-name: rechts;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-play-state: running;
    animation-iteration-count: infinite;

}

@keyframes links {
    0% {
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-200%) rotate(45deg);
    }
}

@keyframes rechts {
    0% {
        transform: translateX(0%);
    }
    50%{
        transform: translateX(200%);
    }
    100% {
        transform: translateX(200%) rotate(45deg);
        /* transform: translateX(200%) rotate(45deg); */
    }
}

section:nth-of-type(2) form {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

section:nth-of-type(2) label {
    color: white;
}

section:nth-of-type(2):has(#background-2:checked) {
    background-image:
        radial-gradient(var(--text-white),
            var(--first-green)),
        linear-gradient(var(--last-green),
            var(--base-green));
    background-size: 100% 200%;
    background-position: left bottom;
}

section:nth-of-type(2):has(#background-2:checked) label {
    color: black;
}

section:nth-of-type(2) div {
    --pallete-pink: #FFC0CB;
    --pallete-light-pink: #FFB6C1;
    --pallete-hot-pink: #FF69B4;
    --pallete-deep-pink: #FF1493;
    --pallete-pale-violet-pink: #DB7093;
    --pallete-medium-violet-pink: #C71585;

    width: 2em;
    aspect-ratio: 1/1;
    background-color: var(--pallete-medium-violet-pink);

    box-shadow:
        -8em -10em 0 var(--pallete-pink),
        -6em -10em 0 var(--pallete-pink),
        -4em -10em 0 var(--pallete-pink),
        4em -10em 0 var(--pallete-pink),
        6em -10em 0 var(--pallete-pink),
        8em -10em 0 var(--pallete-pink),

        -10em -8em 0 var(--pallete-light-pink),
        -8em -8em 0 var(--pallete-light-pink),
        -6em -8em 0 var(--pallete-light-pink),
        -4em -8em 0 var(--pallete-light-pink),
        -2em -8em 0 var(--pallete-light-pink),
        2em -8em 0 var(--pallete-light-pink),
        4em -8em 0 var(--pallete-light-pink),
        6em -8em 0 var(--pallete-light-pink),
        8em -8em 0 var(--pallete-light-pink),
        10em -8em 0 var(--pallete-light-pink),

        -12em -6em 0 var(--pallete-hot-pink),
        -10em -6em 0 var(--pallete-hot-pink),
        -8em -6em 0 var(--pallete-hot-pink),
        -6em -6em 0 var(--pallete-hot-pink),
        -4em -6em 0 var(--pallete-hot-pink),
        -2em -6em 0 var(--pallete-hot-pink),
        0 -6em 0 var(--pallete-hot-pink),
        2em -6em 0 var(--pallete-hot-pink),
        4em -6em 0 var(--pallete-hot-pink),
        6em -6em 0 var(--pallete-hot-pink),
        8em -6em 0 var(--pallete-hot-pink),
        10em -6em 0 var(--pallete-hot-pink),
        12em -6em 0 var(--pallete-hot-pink),

        -12em -4em 0 var(--pallete-deep-pink),
        -10em -4em 0 var(--pallete-deep-pink),
        -8em -4em 0 var(--pallete-deep-pink),
        -6em -4em 0 var(--pallete-deep-pink),
        -4em -4em 0 var(--pallete-deep-pink),
        -2em -4em 0 var(--pallete-deep-pink),
        0 -4em 0 var(--pallete-deep-pink),
        2em -4em 0 var(--pallete-deep-pink),
        4em -4em 0 var(--pallete-deep-pink),
        6em -4em 0 var(--pallete-deep-pink),
        8em -4em 0 var(--pallete-deep-pink),
        10em -4em 0 var(--pallete-deep-pink),
        12em -4em 0 var(--pallete-deep-pink),

        -12em -2em 0 var(--pallete-pale-violet-pink),
        -10em -2em 0 var(--pallete-pale-violet-pink),
        -8em -2em 0 var(--pallete-pale-violet-pink),
        -6em -2em 0 var(--pallete-pale-violet-pink),
        -4em -2em 0 var(--pallete-pale-violet-pink),
        -2em -2em 0 var(--pallete-pale-violet-pink),
        0 -2em 0 var(--pallete-pale-violet-pink),
        2em -2em 0 var(--pallete-pale-violet-pink),
        4em -2em 0 var(--pallete-pale-violet-pink),
        6em -2em 0 var(--pallete-pale-violet-pink),
        8em -2em 0 var(--pallete-pale-violet-pink),
        10em -2em 0 var(--pallete-pale-violet-pink),
        12em -2em 0 var(--pallete-pale-violet-pink),

        -10em 0 0 var(--pallete-medium-violet-pink),
        -8em 0 0 var(--pallete-medium-violet-pink),
        -6em 0 0 var(--pallete-medium-violet-pink),
        -4em 0 0 var(--pallete-medium-violet-pink),
        -2em 0 0 var(--pallete-medium-violet-pink),
        0 0 0 var(--pallete-medium-violet-pink),
        2em 0 0 var(--pallete-medium-violet-pink),
        4em 0 0 var(--pallete-medium-violet-pink),
        6em 0 0 var(--pallete-medium-violet-pink),
        8em 0 0 var(--pallete-medium-violet-pink),
        10em 0 0 var(--pallete-medium-violet-pink),

        -8em 2em 0 var(--pallete-pale-violet-pink),
        -6em 2em 0 var(--pallete-pale-violet-pink),
        -4em 2em 0 var(--pallete-pale-violet-pink),
        -2em 2em 0 var(--pallete-pale-violet-pink),
        0 2em 0 var(--pallete-pale-violet-pink),
        2em 2em 0 var(--pallete-pale-violet-pink),
        4em 2em 0 var(--pallete-pale-violet-pink),
        6em 2em 0 var(--pallete-pale-violet-pink),
        8em 2em 0 var(--pallete-pale-violet-pink),

        -6em 4em 0 var(--pallete-deep-pink),
        -4em 4em 0 var(--pallete-deep-pink),
        -2em 4em 0 var(--pallete-deep-pink),
        0 4em 0 var(--pallete-deep-pink),
        2em 4em 0 var(--pallete-deep-pink),
        4em 4em 0 var(--pallete-deep-pink),
        6em 4em 0 var(--pallete-deep-pink),

        -4em 6em 0 var(--pallete-hot-pink),
        -2em 6em 0 var(--pallete-hot-pink),
        0 6em 0 var(--pallete-hot-pink),
        2em 6em 0 var(--pallete-hot-pink),
        4em 6em 0 var(--pallete-hot-pink),

        -2em 8em 0 var(--pallete-light-pink),
        0 8em 0 var(--pallete-light-pink),
        2em 8em 0 var(--pallete-light-pink),

        0 10em 0 var(--pallete-pink);
}

section:nth-of-type(2):has(#color:checked) div {
    width: 2em;
    aspect-ratio: 1;
    background-color: red;

    box-shadow:
        -8em -10em 0 orange,
        -6em -10em 0 orange,
        -4em -10em 0 orange,
        4em -10em 0 orange,
        6em -10em 0 orange,
        8em -10em 0 orange,

        -10em -8em 0 deeppink,
        -8em -8em 0 deeppink,
        -6em -8em 0 deeppink,
        -4em -8em 0 deeppink,
        -2em -8em 0 deeppink,
        2em -8em 0 deeppink,
        4em -8em 0 deeppink,
        6em -8em 0 deeppink,
        8em -8em 0 deeppink,
        10em -8em 0 deeppink,

        -12em -6em 0 purple,
        -10em -6em 0 purple,
        -8em -6em 0 purple,
        -6em -6em 0 purple,
        -4em -6em 0 purple,
        -2em -6em 0 purple,
        0 -6em 0 purple,
        2em -6em 0 purple,
        4em -6em 0 purple,
        6em -6em 0 purple,
        8em -6em 0 purple,
        10em -6em 0 purple,
        12em -6em 0 purple,

        -12em -4em 0 blue,
        -10em -4em 0 blue,
        -8em -4em 0 blue,
        -6em -4em 0 blue,
        -4em -4em 0 blue,
        -2em -4em 0 blue,
        0 -4em 0 blue,
        2em -4em 0 blue,
        4em -4em 0 blue,
        6em -4em 0 blue,
        8em -4em 0 blue,
        10em -4em 0 blue,
        12em -4em 0 blue,

        -12em -2em 0 yellow,
        -10em -2em 0 yellow,
        -8em -2em 0 yellow,
        -6em -2em 0 yellow,
        -4em -2em 0 yellow,
        -2em -2em 0 yellow,
        0 -2em 0 yellow,
        2em -2em 0 yellow,
        4em -2em 0 yellow,
        6em -2em 0 yellow,
        8em -2em 0 yellow,
        10em -2em 0 yellow,
        12em -2em 0 yellow,

        -10em 0 0 red,
        -8em 0 0 red,
        -6em 0 0 red,
        -4em 0 0 red,
        -2em 0 0 red,
        0 0 0 red,
        2em 0 0 red,
        4em 0 0 red,
        6em 0 0 red,
        8em 0 0 red,
        10em 0 0 red,

        -8em 2em 0 green,
        -6em 2em 0 green,
        -4em 2em 0 green,
        -2em 2em 0 green,
        0 2em 0 green,
        2em 2em 0 green,
        4em 2em 0 green,
        6em 2em 0 green,
        8em 2em 0 green,

        -6em 4em 0 orange,
        -4em 4em 0 orange,
        -2em 4em 0 orange,
        0 4em 0 orange,
        2em 4em 0 orange,
        4em 4em 0 orange,
        6em 4em 0 orange,

        -4em 6em 0 deeppink,
        -2em 6em 0 deeppink,
        0 6em 0 deeppink,
        2em 6em 0 deeppink,
        4em 6em 0 deeppink,

        -2em 8em 0 purple,
        0 8em 0 purple,
        2em 8em 0 purple,

        0 10em 0 blue;

    animation-name: change;
    animation-duration: 1s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

@keyframes change {
    50% {
        background-color: var(--green);
        box-shadow:
            -8em -10em 0 var(--pink),
            -6em -10em 0 var(--pink),
            -4em -10em 0 var(--pink),
            4em -10em 0 var(--pink),
            6em -10em 0 var(--pink),
            8em -10em 0 var(--pink),

            -10em -8em 0 var(--purple),
            -8em -8em 0 var(--purple),
            -6em -8em 0 var(--purple),
            -4em -8em 0 var(--purple),
            -2em -8em 0 var(--purple),
            2em -8em 0 var(--purple),
            4em -8em 0 var(--purple),
            6em -8em 0 var(--purple),
            8em -8em 0 var(--purple),
            10em -8em 0 var(--purple),

            -12em -6em 0 var(--blue),
            -10em -6em 0 var(--blue),
            -8em -6em 0 var(--blue),
            -6em -6em 0 var(--blue),
            -4em -6em 0 var(--blue),
            -2em -6em 0 var(--blue),
            0 -6em 0 var(--blue),
            2em -6em 0 var(--blue),
            4em -6em 0 var(--blue),
            6em -6em 0 var(--blue),
            8em -6em 0 var(--blue),
            10em -6em 0 var(--blue),
            12em -6em 0 var(--blue),

            -12em -4em 0 var(--yellow),
            -10em -4em 0 var(--yellow),
            -8em -4em 0 var(--yellow),
            -6em -4em 0 var(--yellow),
            -4em -4em 0 var(--yellow),
            -2em -4em 0 var(--yellow),
            0 -4em 0 var(--yellow),
            2em -4em 0 var(--yellow),
            4em -4em 0 var(--yellow),
            6em -4em 0 var(--yellow),
            8em -4em 0 var(--yellow),
            10em -4em 0 var(--yellow),
            12em -4em 0 var(--yellow),

            -12em -2em 0 var(--red),
            -10em -2em 0 var(--red),
            -8em -2em 0 var(--red),
            -6em -2em 0 var(--red),
            -4em -2em 0 var(--red),
            -2em -2em 0 var(--red),
            0 -2em 0 var(--red),
            2em -2em 0 var(--red),
            4em -2em 0 var(--red),
            6em -2em 0 var(--red),
            8em -2em 0 var(--red),
            10em -2em 0 var(--red),
            12em -2em 0 var(--red),

            -10em 0 0 var(--green),
            -8em 0 0 var(--green),
            -6em 0 0 var(--green),
            -4em 0 0 var(--green),
            -2em 0 0 var(--green),
            0 0 0 var(--green),
            2em 0 0 var(--green),
            4em 0 0 var(--green),
            6em 0 0 var(--green),
            8em 0 0 var(--green),
            10em 0 0 var(--green),

            -8em 2em 0 var(--orange),
            -6em 2em 0 var(--orange),
            -4em 2em 0 var(--orange),
            -2em 2em 0 var(--orange),
            0 2em 0 var(--orange),
            2em 2em 0 var(--orange),
            4em 2em 0 var(--orange),
            6em 2em 0 var(--orange),
            8em 2em 0 var(--orange),

            -6em 4em 0 var(--pink),
            -4em 4em 0 var(--pink),
            -2em 4em 0 var(--pink),
            0 4em 0 var(--pink),
            2em 4em 0 var(--pink),
            4em 4em 0 var(--pink),
            6em 4em 0 var(--pink),

            -4em 6em 0 var(--purple),
            -2em 6em 0 var(--purple),
            0 6em 0 var(--purple),
            2em 6em 0 var(--purple),
            4em 6em 0 var(--purple),

            -2em 8em 0 var(--blue),
            0 8em 0 var(--blue),
            2em 8em 0 var(--blue),

            0 10em 0 var(--yellow);
    }

    100% {
        background-color: var(--orange);
        box-shadow:
            -8em -10em 0 var(--purple),
            -6em -10em 0 var(--purple),
            -4em -10em 0 var(--purple),
            4em -10em 0 var(--purple),
            6em -10em 0 var(--purple),
            8em -10em 0 var(--purple),

            -10em -8em 0 var(--blue),
            -8em -8em 0 var(--blue),
            -6em -8em 0 var(--blue),
            -4em -8em 0 var(--blue),
            -2em -8em 0 var(--blue),
            2em -8em 0 var(--blue),
            4em -8em 0 var(--blue),
            6em -8em 0 var(--blue),
            8em -8em 0 var(--blue),
            10em -8em 0 var(--blue),

            -12em -6em 0 var(--yellow),
            -10em -6em 0 var(--yellow),
            -8em -6em 0 var(--yellow),
            -6em -6em 0 var(--yellow),
            -4em -6em 0 var(--yellow),
            -2em -6em 0 var(--yellow),
            0 -6em 0 var(--yellow),
            2em -6em 0 var(--yellow),
            4em -6em 0 var(--yellow),
            6em -6em 0 var(--yellow),
            8em -6em 0 var(--yellow),
            10em -6em 0 var(--yellow),
            12em -6em 0 var(--yellow),

            -12em -4em 0 var(--red),
            -10em -4em 0 var(--red),
            -8em -4em 0 var(--red),
            -6em -4em 0 var(--red),
            -4em -4em 0 var(--red),
            -2em -4em 0 var(--red),
            0 -4em 0 var(--red),
            2em -4em 0 var(--red),
            4em -4em 0 var(--red),
            6em -4em 0 var(--red),
            8em -4em 0 var(--red),
            10em -4em 0 var(--red),
            12em -4em 0 var(--red),

            -12em -2em 0 var(--green),
            -10em -2em 0 var(--green),
            -8em -2em 0 var(--green),
            -6em -2em 0 var(--green),
            -4em -2em 0 var(--green),
            -2em -2em 0 var(--green),
            0 -2em 0 var(--green),
            2em -2em 0 var(--green),
            4em -2em 0 var(--green),
            6em -2em 0 var(--green),
            8em -2em 0 var(--green),
            10em -2em 0 var(--green),
            12em -2em 0 var(--green),

            -10em 0 0 var(--orange),
            -8em 0 0 var(--orange),
            -6em 0 0 var(--orange),
            -4em 0 0 var(--orange),
            -2em 0 0 var(--orange),
            0 0 0 var(--orange),
            2em 0 0 var(--orange),
            4em 0 0 var(--orange),
            6em 0 0 var(--orange),
            8em 0 0 var(--orange),
            10em 0 0 var(--orange),

            -8em 2em 0 var(--pink),
            -6em 2em 0 var(--pink),
            -4em 2em 0 var(--pink),
            -2em 2em 0 var(--pink),
            0 2em 0 var(--pink),
            2em 2em 0 var(--pink),
            4em 2em 0 var(--pink),
            6em 2em 0 var(--pink),
            8em 2em 0 var(--pink),

            -6em 4em 0 var(--purple),
            -4em 4em 0 var(--purple),
            -2em 4em 0 var(--purple),
            0 4em 0 var(--purple),
            2em 4em 0 var(--purple),
            4em 4em 0 var(--purple),
            6em 4em 0 var(--purple),

            -4em 6em 0 var(--blue),
            -2em 6em 0 var(--blue),
            0 6em 0 var(--blue),
            2em 6em 0 var(--blue),
            4em 6em 0 var(--blue),

            -2em 8em 0 var(--yellow),
            0 8em 0 var(--yellow),
            2em 8em 0 var(--yellow),

            0 10em 0 var(--red);
    }
}

section:nth-of-type(3) div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section:nth-of-type(3) div div {
    width: 10px;
    height: 20px;
    background-color: white;
    animation: firework 1.5s ease-out infinite;
    box-shadow:
        -10em -10em 0 #ff4136,
        10em -10em 0 #2ecc40,
        10em 10em 0 #0074d9,
        -10em 10em 0 #ff851b;
}

section:nth-of-type(3) div div:nth-child(1),
section:nth-of-type(3) div div:nth-child(7),
section:nth-of-type(3) div div:nth-child(13),
section:nth-of-type(3) div div:nth-child(19),
section:nth-of-type(3) div div:nth-child(25) {
    transform: rotate(45deg);
    background-color: #ff4136;
    box-shadow:
        -6em -6em 0 #ff4136,
        6em -6em 0 #2ecc40,
        6em 6em 0 #0074d9,
        -6em 6em 0 #ff851b;
}

section:nth-of-type(3) div div:nth-child(2),
section:nth-of-type(3) div div:nth-child(8),
section:nth-of-type(3) div div:nth-child(14),
section:nth-of-type(3) div div:nth-child(20),
section:nth-of-type(3) div div:nth-child(26) {
    transform: rotate(-45deg);
    background-color: #2ecc40;
}

section:nth-of-type(3) div div:nth-child(3),
section:nth-of-type(3) div div:nth-child(9),
section:nth-of-type(3) div div:nth-child(15),
section:nth-of-type(3) div div:nth-child(21),
section:nth-of-type(3) div div:nth-child(27) {
    transform: rotate(90deg);
    background-color: #0074d9;
}

section:nth-of-type(3) div div:nth-child(4),
section:nth-of-type(3) div div:nth-child(10),
section:nth-of-type(3) div div:nth-child(16),
section:nth-of-type(3) div div:nth-child(22),
section:nth-of-type(3) div div:nth-child(28) {
    transform: rotate(135deg);
    background-color: #ffdc00;
}

section:nth-of-type(3) div div:nth-child(5),
section:nth-of-type(3) div div:nth-child(11),
section:nth-of-type(3) div div:nth-child(17),
section:nth-of-type(3) div div:nth-child(23),
section:nth-of-type(3) div div:nth-child(29) {
    transform: rotate(-135deg);
    background-color: #b10dc9;
}

section:nth-of-type(3) div div:nth-child(6),
section:nth-of-type(3) div div:nth-child(12),
section:nth-of-type(3) div div:nth-child(18),
section:nth-of-type(3) div div:nth-child(24),
section:nth-of-type(3) div div:nth-child(30) {
    transform: rotate(-90deg);
    background-color: #3d9970;
}

@keyframes firework {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
        transform: translateY(-20px);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}